.DS_Store
.idea
*.log
tmp/

.auctex-auto/
_region_.log
_region_.run.xml
_region_.tex
pdfa.xmpi
sample.aux
sample.bbl
sample.bcf
sample.blg
sample.fdb_latexmk
sample.fls
sample.log
sample.out
sample.run.xml
sample.synctex.gz
